[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Warehouse
Exec=/usr/bin/dbus-send --type=method_call --dest=com.thecust.warehouse /com/thecust/warehouse com.thecust.warehouse.showApplication
Icon=warehouse64
#X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Osso-Service=com.thecust.warehouse
