[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Warehouse
Exec=xdg-open openrepos://client/start
Icon=/usr/share/icons/hicolor/80x80/apps/warehouse80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
#contentaction+dbus
MimeType=x-maemo-highlight/openrepos;
MimeType=x-maemo-highlight/openrepos-url;
MimeType=x-maemo-urischeme/openrepos;
MimeType=x-maemo-urischeme/openrepos-url;
X-Maemo-Service=com.thecust.warehouse
X-Maemo-Object-Path=/com/thecust/warehouse
X-Maemo-Method=com.thecust.warehouse.loadURI

